VITE_API_BASE_URL=https://dev.wenivops.co.kr/services/mandarin

// For Firebase JS SDK v7.20.0 and later, measurementId is optional

  apiKey: "AIzaSyCBcuswqbZLGsw1seOklnXi0alcQWe3Uxc",
  authDomain: "gamgulmarket.firebaseapp.com",
  projectId: "gamgulmarket",
  storageBucket: "gamgulmarket.firebasestorage.app",
  messagingSenderId: "20653435477",
  appId: "1:20653435477:web:38032e339e6c751fa602dc",
  measurementId: "G-0MT1BTH2G2"
